<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Class (Swift).</string>
	<key>Summary</key>
	<string>Class</string>
	<key>SortOrder</key>
	<string>2</string>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Class:</string>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>rawValue</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Access Level:</string>
			<key>Description</key>
			<string>The access level of the class to create.</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>Internal</string>
			<key>Values</key>
			<array>
				<string>Open</string>
				<string>Public</string>
				<string>Internal</string>
				<string>Fileprivate</string>
				<string>Private</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
